.bckgColor {
    position: absolute;
    height: 450px;
    width: 100%;
    top: 1900px;
    left: 20px;
    background-color: beige;
}

.input {
    margin-left: 90px;
    border: none;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    color: #8b92ab;
    outline: none;
    border-bottom: 1px solid rgba(139, 146, 171, 50%);
    margin-right: 10px;
    margin-top: 25px;
}

#textarea {
    display: block;
    width: 150px;
}

#textarea::placeholder {
    text-align: left;
    transform: translateY(80px);
}

.button {
    margin-left: 90px;
    background-color: #06aaca;
    border: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 25px;
    font-size: 17px;
    color: white;
    font-family: 'Mulish', sans-serif;
    margin-top: 105px;
    padding: 15px;
    width: 150px;
    font-weight: 900;
    display: block;
}

.button:hover{
    background-color: #057c94;
}

.kontakt-heading{
    font-family: 'Playfair Display', serif;
    font-size: 57px;
    margin-left: 65px;
    color: #2e3038;
    margin-bottom: 30px;
}