/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('bootstrap/dist/css/bootstrap.min.css');
@import url("http://kenwheeler.github.io/slick/slick/slick-theme.css");

.background {
    background: url('../images/djeca.png') no-repeat center;
    height: 130vh;
    width: 100%;
    position: relative;
    margin-top: -137px;
    
}

.logo-nav{
    height: 80px;
    margin-left: 50px;
    margin-right: 80px;
}

.nav ul {
    position: absolute !important;
    top: 20px !important;
    left: 350px !important;
}

.nav a{
    position: relative !important;
    overflow: hidden;
}

.nav-transparent {
    background-color: transparent !important;
}

.nav-colored {
    background-color: #fff !important;
}

.nav-link {
    color: rgba(255, 255, 255, 0.438) !important;
    font-family: 'Mulish', sans-serif !important;
    font-size: 18px;
    margin-left: 70px;
}

#pocetna {
    color: #fff !important;
}

.bottom-line {
    position: absolute  !important;
    width: 100%  !important;
    height: 2px  !important;
    background-color: #fff  !important;
    bottom: -10px  !important;
    transition: ease 0.5s  !important;
}

.nav a:hover .bottom-line {
    bottom: 0 !important;
    transition: ease 0.5s;
}


.showcase-container {
    position: absolute;
    top: 100px;
    z-index: 5;
}

.first-heading {
    color: #fff;
    font-size: 57px;
    margin: 70px 65px; 
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    margin-top: 140px;
}

.text {
    color: #fff;
    width: 450px;
    margin-left: 65px;
    font-size: 18px;
    font-family: 'Mulish', sans-serif;
    margin-bottom: 35px;
}

.max-span {
    font-size: 18px;
    font-weight: 900;
}

.emphasized {
    color: #fff;
    font-size: 35px;
    margin-left: 65px;
    font-family: 'Mulish', sans-serif;
}

.first-btn {
    display: block;
    margin-left: 65px;
    border: 2px solid #fff;
    background: transparent;
    padding: 10px;
    width: 250px;
    margin-top: 24px;
    color: #fff;
    font-size: 30px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 25px;
    font-family: 'Mulish',sans-serif;
    cursor: pointer;
}

.clr {
    overflow: auto;
}

.progress-heading {
    font-family: 'Playfair Display', sans-serif;
    font-size: 40px;
    color: #fff;
    text-align: center;
    font-weight: 800;
    text-align: left;
}

.line {
    height: 160px;
    border-right: 2px solid #fff;
}

.progress-num {
    font-size: 130px;
    font-family: 'Bebas Neue', cursive;
    color: #fff;
}

.count {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #06aaca;
    position: absolute;
    top: 115vh;
    left: 62px;
    right: 62px;
    height: 300px;
    width: auto;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.wrapper {
    width: 1500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper .card {
    width: calc(33% - 20px);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: #06aaca;
    border: none;
}

.wrapper .card .circle {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    position: relative;
}

.card .circle .box canvas,
.card .circle .box span {
    position: absolute;
    top: 50%;
    left: 50%;
    
}

.card .circle .box canvas {
    height: 100%;
    width: 100%;
    background: #06aaca;
    transform: translate(-50%, -50%) scale(0.8);
    border-radius: 50%;
}

/* .card .circle:hover .box {
    transform: translate(-50%, -50%) scale(0.91);
} */

.card .circle .box span {
    font-size: 150px;
    font-weight: 600;
    font-family: 'Bebas Neue', cursive;
    transform: translate(-50%, -50%);
    color: #fff;
}

.ko-smo{
    margin-top: 250px;
    position: relative;
}

.main-heading {
    font-size: 52px;
    line-height: 27px;
    font-family: 'Playfair Display', sans-serif;
    color: #2e3038;
    margin-top: 98px;
    margin-bottom: 45px;
    margin-left: 65px;
}

.bckg-line {
    background: url(../images/linija.svg);
    width: 42px;
    height: 13px;
    margin-left: 65px;
    
}

.bckg-color {
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.04);
    height: 400px;
    width: 460px;
    position: absolute;
    top: 120px;
    left: 150px;

}

.main-text {
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    line-height: 27px;
    color: #8b92ab;
    margin-left: 130px;
    width: 450px;
}


.more{
    margin-top: 50px;
    color: #06aaca;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: 'Mulish', sans-serif;
    font-weight: 900;
    font-size: 18px;
    padding: 0px;
    margin-left: 130px;
    cursor: pointer;
    transition: ease 0.5s;
   
}

.more:hover{
    border-bottom: 1px solid #06aaca;
    transition: ease 0.5s;
}

.arrow {
    margin-left: 5px;
    transition: ease 0.5s;
}

.more:hover .arrow {
    margin-left: 20px;
    transition: ease 0.5s;
}

.contain {
    display: flex;
    justify-content: space-between;
}

.around{
    width: 650px;
    height: 700px;
    margin-top: 250px;
    margin-right: 65px;
    position: relative;
}

.circle-bckg{
    background: #06aaca;
    border-radius: 50%;
    width: 550px;
    height: 550px;
    position: relative;
    top: 40px;
    left: 70px;
    z-index: -2;
}

.circle-img {
    width: 550px;
    z-index: 1;
    position: absolute;
    top: 140px;
    left: 100px;
}

.bottom {
    height: 100px;
}

.bckgColor{
    position: absolute;
    height: 450px;
    width: 100%;
    top: 1900px;
    left: 20px;
    background-color: beige;
}

.input {
    margin-left: 90px;
    border: none;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    color: rgba(139, 146, 171, 50%);
    outline: none;
    border-bottom: 1px solid rgba(139, 146, 171, 50%);
    margin-right: 10px;
    margin-top: 25px;
}

#textarea{
    display: block;
    width: 150px;
}


#textarea::placeholder {
    text-align: left;
    transform: translateY(80px);
}

.button {
    margin-left: 90px;
    background-color: #06aaca;
    border: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 25px;
    font-size: 17px;
    color: white;
    font-family: 'Mulish', sans-serif;
    margin-top: 105px;
    padding: 15px;
    width: 150px;
    font-weight: 900;
}

.footer {
    background: url('../images/footer.svg');
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: relative;
}

.flex {
    display: flex;
    flex-direction: row;
    
}

.footer-items {
    margin: auto;
    width: 200px;
    padding: 25px 0;
}

footer-items img {
    display: block;
}

.footer-items {
    color: #fff !important;
    font-family: 'Mulish', sans-serif;
    text-align: center;
    z-index: 4;
}

#footer-logo {
    width: 150px;
    align-items: center;
}

.fb {
    background: url(../images/fb.svg);
    width: 38px;
    height: 38px;
    z-index: 7;
    margin-bottom: -15px;
    padding: 0;
    margin-left: 45px;
}

.insta {
    background: url(../images/insta.svg);
    width: 38px;
    height: 38px;
    z-index: 7;
    margin-bottom: -35px;
    margin-left: 110px;
    margin-top: -38px;
    padding: 0;
}

/* .djeca-footer{
    display: flex !important;
    justify-content: space-between;
    position: relative;
    align-content: space-between;
} */

.djevojcica {
    background: url(../images/djevojcica.svg) no-repeat; 
    /* width: 600px;
    height: 450px;  */
    position: absolute;
    left: -40px;
    top: -28px;
    z-index: 5;
    width: 520px;
    height: 328px;
    /* align-self: flex-start; */
    float: left;
} 

.djecak {
    background: url(../images/slika2.svg) no-repeat;
    /* width: 600px;
    height: 450px; */
    margin-top: -298px;
    /* margin-left: 1030px; */
    z-index: 5;
    width: 330px;
    height: 328px;
    /* align-self: flex-end; */
    float: right;
}

.clr {
    clear: both;
}