
.showcase {
    display: flex;
    flex-direction: column;
}

#showcase-heading {
    color: #fff;
    margin-top: 150px;
    margin-left: 65px;
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
}

#showcase-text {
    color: #fff;
    font-size: 1.2rem;
    margin-left: 65px;
    margin-top: 40px;
    margin-bottom: 75px;
}

#emph{
    font-weight: 700;
}

#second-emph{
    margin-left: 65px;
    color: #fff;
    font-weight: 700;
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
}

#showcase-btn {
    display: block;
    margin-left: 65px;
    border: 2px solid #fff;
    background: transparent;
    padding: 10px;
    width: 250px;
    margin-top: 24px;
    color: #fff;
    font-size: 30px;
    border-radius: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 55px;
    font-family: 'Mulish',sans-serif;
    cursor: pointer;
    font-weight: 700;
}

#showcase-btn:hover{
    background: #fff;
    color: #000;
    transition: ease 0.5s;
}

@media only screen and (max-width: 992px){
    #showcase-heading {
        margin-top: 40px;
        margin-left: 40px;
        font-size: 2.5rem;
    }
    #showcase-text {
        font-size: 1rem;
        margin-left: 40px;
        margin-top: 40px;
        margin-bottom: 55px;
    }
    #second-emph{
        margin-left: 40px;
        font-size: 1.7rem;
    }
    #showcase-btn{
        margin-left: 40px;
    }
}